##### MISC
.DS_Store
*.zip

###### NAND2TETRIS

# some kind of binary metadata
*.dat

# script run output files
*.out

# assembled machine code files
*.hack

###### JAVA
*.class

# package files
*.jar
*.war
*.ear

# IntelliJ
*/.idea/*
*.idea
*.iml
